<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Compras</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div class="container">
    <h1>Lista de Compra</h1>
    <div class="form-container">
      <input type="text" id="descricao" placeholder="Descrição">
      <input type="number" id="valor" placeholder="Valor">
      <button id="cadastrarButton">Adicionar Produto</button>
    </div>
    <ul id="listaDespesas"></ul>
  </div>
  <script src="./script.js"></script>
</body>
</html>
